
# Arquivos de configuração do Visual Studio
.vs/

# Arquivos temporários de compilação
bin/
obj/

# Arquivos de cache do Visual Studio
.vs2019/
.vs2017/

# Arquivos de log de depuração
*.log

# Arquivos do usuário
*.user
*.userosscache
*.suo
*.userprefs

# Arquivos de backup
*~.backup
*~.swp

# Arquivos de sistema do Windows (como thumbs.db)
Thumbs.db
ehthumbs.db

# Arquivos temporários do Windows
*.cab
*.msi
*.msm
*.msp